<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <script type="text/javascript">
        {
            for (i = 0; i < 5; i++) {
                document.write(i);
            }

        }
    </script>
    <script>
        function sump(n1, n2, n3) {
            document.write(n1);
            document.write(n2);
            document.write(arguments.length);
        }
        sump(10, 290, 'tyfgytftyfg', 'yuhuyhg')
    </script>
</head>

<body>
    <script>
        function sump(a, ...fun) {
            document.write(a, +"<br>" + "bdhssdhfjhsbfhsbfhbsdsjfksdjkfsakjksdhndfssdfjhkvjdfvjdshnkjskdj")
            for (var i = 0; i < arguments.length; i++) {
                document.write(arguments[i, "<br>"])
            }
        }
        sump(10, 290, 'tyfgytftyfg', 'yuhuyhg')
    </script>
    <script>
        function sump() {
            for (var i = 0; i < arguments.length; i++) {
                arguments[0] = "wwwwwwwwww"
                document.write(arguments[i])
                document.write('g' + '<br>')
            }
        }
        sump(10, 290, 'tyfgytftyfg', 'yuhuyhg')
    </script>
    <h1>Hello, world!</h1>
    <p>lorem50</p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores autem sequi perferendis aspernatur. Ipsam, saepe sit repudiandae est officiis magni fugiat dolor, nobis corporis ipsa quae, eius excepturi! Ducimus, placeat.

    <h2>javascript</h2>
</body>

</html>